---

- name: Ensure base Lidarr directory exists
  ansible.builtin.file:
    path: "{{ lidarr_docker_base_directory }}"
    state: 'directory'
    owner: "{{ lidarr_docker_user }}"
    group: "{{ lidarr_docker_user }}"
    mode: '0755'
  tags:
    - lidarr
    - lidarr_setup

- name: Ensure Lidarr compose file is present
  ansible.builtin.template:
    src: 'compose.yml.j2'
    dest: "{{ lidarr_docker_base_directory }}/compose.yml"
    owner: "{{ lidarr_docker_user }}"
    group: "{{ lidarr_docker_user }}"
    mode: '0644'
    backup: true
  register: lidarr_docker_compose_template_result
  tags:
    - lidarr
    - lidarr_config

- name: Ensure Lidarr compose project is deployed
  community.docker.docker_compose_v2:
    project_src: "{{ lidarr_docker_base_directory }}"
    state: 'present'
    recreate: "{{ 'always' if (lidarr_docker_compose_template_result.changed) else 'auto' }}"
    remove_orphans: true
  tags:
    - lidarr
    - lidarr_deploy
