---

- name: Ensure base Lidarr directory exists
  ansible.builtin.file:
    path: "{{ lidarr_docker_base_directory }}"
    state: 'directory'
    owner: "{{ lidarr_docker_user }}"
    group: "{{ lidarr_docker_user }}"
    mode: '0755'

- name: Ensure Lidarr compose file is present
  ansible.builtin.template:
    src: 'compose.yml.j2'
    dest: "{{ lidarr_docker_base_directory }}/compose.yml"
    owner: "{{ lidarr_docker_user }}"
    group: "{{ lidarr_docker_user }}"
    mode: '0644'
    backup: true
  register: lidarr_docker_compose_template_result

- name: Ensure Lidarr compose project is deployed
  community.docker.docker_compose_v2:
    project_src: "{{ lidarr_docker_base_directory }}"
    state: 'present'
    pull: "{{ 'always' if lidarr_docker_update_image else lidarr_docker_pull_policy }}"
    recreate: "{{ 'always' if (lidarr_docker_compose_template_result.changed or lidarr_docker_update_image) else 'auto' }}"
    remove_orphans: true
